$icomoon-font-family: "tamdst-10-2019" !default;
$icomoon-font-path: "fonts" !default;

$tamdst-search-zoom: "\e00d";
$tamdst-stack: "\e914";
$tamdst-plus: "\e908";
$tamdst-minus: "\e909";
$tamdst-home: "\e800";
$tamdst-end-log: "\e900";
$tamdst-begin-log: "\e901";
$tamdst-map-pin: "\f276";
$tamdst-street-view: "\f21d";
$tamdst-mouse-pointer: "\f245";
$tamdst-draw-polygon: "\e902";
$tamdst-select-route: "\e903";
$tamdst-share-square-o: "\f045";
$tamdst-external-link: "\f08e";
$tamdst-thin-close: "\e904";
$tamdst-close: "\f00d";
$tamdst-remove: "\f00d";
$tamdst-times: "\f00d";
$tamdst-trash-o: "\f014";
$tamdst-copy: "\f0c5";
$tamdst-files-o: "\f0c5";
$tamdst-print: "\f02f";
$tamdst-chevron-left: "\f053";
$tamdst-chevron-right: "\f054";
$tamdst-chevron-down: "\f078";
$tamdst-chevron-up: "\f077";
$tamdst-info-circle: "\f05a";
$tamdst-exclamation-triangle: "\f071";
$tamdst-warning: "\f071";
$tamdst-question-circle-o: "\f29c";
$tamdst-ellipsis-h: "\f141";
$tamdst-ellipsis-v: "\f142";
$tamdst-square-o: "\f096";
$tamdst-check-square: "\f14a";
$tamdst-circle-o: "\f10c";
$tamdst-dot-circle-o: "\f192";
$tamdst-bridge: "\e905";
$tamdst-culvert: "\e906";
$tamdst-road: "\f018";
$tamdst-barrier: "\e907";
$tamdst-overhead-sign: "\e90a";
$tamdst-bmp: "\e90b";
$tamdst-spinner: "\e90c";
$tamdst-exclamation-circle: "\e90d";
$tamdst-graduation-cap: "\e90e";
$tamdst-book: "\e90f";
$tamdst-phone-square: "\e910";
$tamdst-phone: "\e911";
$tamdst-cog: "\e912";
$tamdst-clipboard-list: "\e913";
$tamdst-ramp: "\e915";
$tamdst-edit: "\e916";
$tamdst-association-modal-2: "\e917";
$tamdst-circle-cancel: "\e920";

