select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  }
h1,h2,h3,h4,h5,h6 {
  text-transform:uppercase;
  }
/*
.app-heading {
  background-color:#333;
  color:#f0f0f0;
  font-size:1.5rem;
  padding:1rem 0;
  margin-bottom:1rem;
  }
  */
.page-title {
  font-size:1.2rem;
  margin-bottom:1.2rem;
  }
.date-updated {
  font-size:0.85rem;
  padding:0.25rem 0 0 1.8rem;
  margin-bottom:0;
  }
.table {
  background-color:#fff;
  }